ion-view(view-title='新增频道')
  ion-content
    ion-list
      a.item.item-avatar(ng-repeat='channel in channels', type='item-text-wrap')
        img(src='{{channel.logo}}')
        h2 {{channel.name}}
