ion-view#channel(view-title='{{channel.name}}')
  ion-nav-buttons(side="right")
    button.button.icon.ion-ios-plus-empty.button-clear(ng-click="newClip()")
  ion-content
    ion-refresher(pulling-text=' ', on-refresh='doRefresh()')
    .list.card(ng-repeat="clip in clips")
      .item.item-avatar
        img(src='img/mcfly.jpg')
        h2 {{clip.userData.email}}
        p {{clip._created | date: 'yyyy-MM-dd HH:mm'}}
      .item.item-image
        img(src="{{clip.img}}")
      .item.item-text-wrap
        p {{clip.content}}
        p.small 阅读 323 讨论 333
      .item.tabs.tabs-secondary.tabs-icon-left
        a.tab-item(href='#/tab/channel-chat/{{clip._id}}')
          i.icon.ion-chatbox
          | 加入讨论
        a.tab-item(href='#')
          i.icon.ion-share
          |  Share
  .tabs.tabs-icon-left
    a.tab-item
      i.icon.ion-home
      | 开始游戏



//- ion-view#channel(view-title='{{channel.name}}')
//-   ion-content.padding
//-     .list.card(ng-repeat="clip in clips")
//-       .item.item-divider
//-         {{clip.userData.email}}
//-       .item.item-image
//-         a(href='#/tab/channel-chat/{{clip._id}}')
//-           img(src="{{clip.img}}")
//-       .item.item-text-wrap
//-         p {{clip.content}}
//-   ion-footer-bar
//-     button.button(ng-click="newClip()") 发表截图

