html
  body
    ion-view(view-title='{{game.description}}')
      ion-content.padding
        .list.card
          .item.item-divider Recent Updates
          .item.item-image
            img(src="img/ionic.png")
        .list.card
          .item.item-divider Health
          .item.item-image
            img(src="img/ionic.png")
        .list.card
          .item.item-divider Upcoming
          .item.item-image
            img(src="img/ionic.png")

