ion-view#channel(view-title='{{channel.name}}')
  ion-nav-buttons(side="right")
    button.button.button-image.button-clear(ng-click="newClip()")
      img2x(src2x="img/icon-NewScreen",ext="png")
  ion-content
    ion-refresher(pulling-text=' ', on-refresh='doRefresh()')
    .list.card(ng-repeat="clip in clips")
      .item.item-image
        a(ng-click="Api.jumpTo(clip._self, 'channels')")
          img(preload-image default-image="img/loading.png" src="{{clip.img['294@2x']}}")
      .item.item-text-wrap
        p {{clip.content}}
      .item.item-avatar
        img(src='img/mcfly.jpg')
        h2 {{clip.userData.email}}
        p {{clip._created | date: 'yyyy-MM-dd HH:mm'}}
  ion-footer-bar.play-game
    button.button-play.button-calm(ng-click="playGame()") 玩游戏
