ion-view#Channels(view-title='游戏')
  ion-nav-buttons(side="right")
    button.button.icon.ion-ios-plus-empty.button-clear(ng-click="addChannel()")
  ion-content
    ion-list
      a.item.item-avatar(ng-repeat='channel in channels', type='item-text-wrap', href='#/tab/channels/{{channel._id}}')
        img(src='{{channel.logo}}')
        | {{channel.name}}
        span.item-note
          | 18 <br>
          b 三個月前