ion-view(view-title='频道')
  ion-nav-buttons(side="right")
    button.button.icon.ion-plus.button-clear(ng-click="addChannel()")
  ion-content
    ion-list
      ion-item.item-thumbnail-left(ng-repeat='channel in channels', type='item-text-wrap', href='#/tab/channels/{{channel._id}}')
        img(src='{{channel.logo}}')
        | {{game.name}}

