ion-view#Channels(view-title='游戏')
  ion-nav-buttons(side="right")
    button.button.icon.ion-ios-plus-empty.button-clear(ng-click="addChannel()")
  ion-content
    ion-list
      a.item.item-avatar(ng-repeat='channel in channels', type='item-text-wrap', href='#/tab/channels/{{channel.gameData._id}}')
        img(src='{{channel.gameData.logo}}')
        | {{channel.gameData.name}}
        span.item-note(ng-class='{first:$first}')
          | <hide ng-if="channel.unread">更新</hide> {{channel.unread?channel.unread:''}} <br>
          b <hide>你的瞬間：</hide> {{channel.lastClip._created | timeBefore}}


//- span.item-note(ng-class='{first:$first,hide:$last}')