ion-view#Channels(view-title='刀塔传奇')
  ion-nav-buttons(side="right")
    button.button.icon.ion-ios-plus-empty.button-clear(ng-click="addChannel()")
  ion-content
    ion-list
      a.item.item-avatar(ng-repeat='channel in channels', type='item-text-wrap', ng-click="Api.jumpTo(channel.game)")
        img(src="{{channel['@game'].logo}}")
        | {{channel['@game'].name}}
        span.item-note(ng-class='{first:$first}')
          | <hide ng-if="channel.lastClip._modified">你的瞬間：</hide> {{channel.lastClip._modified | timeBefore}}
          b(ng-if="channel.unread"){{channel.unread?channel.unread:''}}


//- span.item-note(ng-class='{first:$first,hide:$last}')
