ion-view(view-title='{{channel.name}}')
  ion-content.padding
    .list.card(ng-repeat="post in posts")
      .item.item-divider {{post.userData.email}}
      .item.item-image
        a(href='#/tab/channel-chat/{{post._id}}')
          img(src="{{post.img}}")

