ion-view(hide-nav-bar="true")
	ion-header-bar
		button.button.icon.ion-ios7-arrow-back.button-clear(ng-click="backButton()")
		div.title.title-center
			| шоишо║
	ion-content(has-header='true', has-footer='true', padding='true', start-y='120')
		//- button.button.icon.ion-ios7-arrow-back.button-clear(ng-click="backButton()")
		ol.messages
			li(ng-repeat='comment in comments')
				p {{comment.content}}
	ion-footer-bar
		//- form(name="newCommentForm", novalidate="", ng-submit='send(newCommentForm)')
		button.button.button-icon.ion-ios7-star-outline(ng-class="{'ion-ios7-star': hasFollowedPost, 'ion-ios7-star-outline':!hasFollowedPost}" ng-click="followPost()")
		input(type="text" ng-model="formData.content" required)
		button.button.button-icon.ion-paper-airplane(ng-click="send()")
			//- button.button.button-icon.ion-happy

		
