ion-view(view-title='шоишо║')
  ion-content.padding
    .list.card(ng-repeat='chat in chats')
      .item.item-image
        a(href='#/tab/chats/{{chat.postData._id}}')
          img(src="{{chat.postData.img}}")

