ion-view#Chat(view-title='讨论')
	a(ng-if="getNewComments" ng-click="goNewComments()" style="position:absolute;top:450px;left:200px;z-index:2;background-color:pink")
		span
			| 收到新消息
	ion-content(han-header='true',padding='true', start-y='120', on-scroll='doScroll()')
		ion-refresher(pulling-text=' ', on-refresh='pullRefresh()')
		.chat-top
		ol.messages
			li(ng-repeat='comment in comments', class="{{comment.isOwned?'m-right':''}}", id="{{comment._id}}")
				.avatar-frame
					img.avatar(preload-image default-image="img/loading.png" src='{{comment.userLogo}}')
				.content
					h5.text-overflow {{comment.userName}}
					p {{comment.content}}
	ion-footer-bar
		button.button.button-block.button-positive(ng-click="toggleSubscribe()") 加入讨论
		//- button.button.button-block.button-positive(ng-if="!hasFollowedPost",ng-click="toggleSubscribe()") 加入讨论
		form(ng-if="hasFollowedPost")
			input.button-block(type="text",ng-model="formData.content",required,ng-keydown="$event.keyCode === 13 && send();")
