ion-view#Chats(view-title='шоишо║')
  ion-content(on-infinite-scroll="loadMore")
    ion-refresher(pulling-text=' ', on-refresh='pullRefresh()')
    ng-include(src="'templates/chat-tempSrc.html'")
    ion-infinite-scroll(on-infinite="loadMore()", ng-if="hasMore()", distance="10%")
