ion-view(view-title='шоишо║')
	ion-header-bar(frosted-bar='', title="'Blurred...man!'", type='bar-frosted')
		ion-content(has-header='true', has-footer='true', padding='true', start-y='120')
	    	ol.messages
	    		li(ng-repeat='message in messages', ion-bind-html-unsafe='message.content')

