ion-view#Chats(view-title='讨论')
  ion-content
    ion-refresher(pulling-text=' ', on-refresh='doRefresh()')
    ion-list
      a.item.item-avatar(ng-repeat='subscribe in subscribes',type='item-text-wrap', href='#/tab/chats/{{subscribe["@clip"]._id}}')
        img(src='http://zuju.cc/images/uploads/gaea/jiezoudashi.jpeg')
        i.icon.ion-ios-gear(ng-if="subscribe.unread")
        | 上次的麻辣燙怎麼樣？ 
        | {{subscribe["@clip"]._created | timeBefore}}
        span.item-note(ng-class='{first:$first}')
          img(src="{{subscribe['@clip'].img}}")




    //- | [NEW] {{subscribe.content}} {{subscribe.unread}}

    //- ion-list
    //-   a.item.item-avatar(ng-repeat='channel in channels', type='item-text-wrap', href='#/tab/channels/{{channel.gameData._id}}')
    //-     img(src='{{channel.gameData.logo}}')
    //-     | {{channel.gameData.name}}
    //-     span.item-note(ng-class='{first:$first}')
    //-       | <hide>更新</hide> 18 <br>
    //-       b <hide>你的瞬間：</hide>三個月前

//- <<<<<<< HEAD
//- =======
//-     .list.card(ng-repeat='subscribe in subscribes')
//-       .item.item-divider
//-         img(src='{{subscribe["@clip"].gameData.logo}}', style="width:20px")
//-         | 刀塔傳奇 - {{subscribe.content}} {{subscribe.unread}}
//-       .item.item-body
//-         a(href='#/tab/chats/{{subscribe["@clip"]._id}}')
//-           img.full-image(src="{{subscribe['@clip'].img}}")
//-       .item.item-avatar
//-         img(src='img/mcfly.jpg')
//-         h2 {{subscribe["@clip"].userData.email}}
//-         p {{subscribe["@clip"]._created | date: 'yyyy-MM-dd HH:mm'}}
//- >>>>>>> FETCH_HEAD


//-     //- .list.card(ng-repeat='subscribe in subscribes')
//-     //-   .item.item-divider
//-     //-     | [圖標] 刀塔傳奇 - {{subscribe.content}} {{subscribe.unread}}
//-     //-   .item.item-body
//-     //-     a(href='#/tab/chats/{{subscribe["@clip"]._id}}')
//-     //-       img.full-image(src="{{subscribe['@clip'].img}}")
//-     //-   .item.item-avatar
//-     //-     img(src='img/mcfly.jpg')
//-     //-     h2 Marty McFly
//-     //-     p November 05, 1955