ion-view(view-title='шоишо║')
  ion-content
    ion-refresher(pulling-text=' ', on-refresh='doRefresh()')
    .list.card(ng-repeat='subscribe in subscribes')
      .item.item-avatar {{hasNewComments[subscribe["@clip"]._id]?'+':''}}
      .item.item-image
        a(href='#/tab/chats/{{subscribe["@clip"]._id}}')
          img(src="{{subscribe['@clip'].img}}")

