ion-modal-view#AddChannel.Pages
  ion-header-bar
    .title 查找游戏
    .buttons
      button.button.button-clear(on-tap='complete()',ng-show="ifAbled == 'able' ") 完成
  ion-content
    ion-list
      a.item.item-avatar(on-tap="followGame(channel)",ng-repeat='channel in channels', type='item-text-wrap')
        img(preload-image default-image="img/loading.png" ng-src='{{channel.gameData.logo?channel.gameData.logo:""}}')
        | {{channel.gameData.name}}
        span.item-note(ng-show="channel.followed == 'No'")
          | 关注
        span.item-note(ng-show="channel.followed == 'Yes'",style="color:grey")
          | 已关注
        //- span.item-note(ng-show="channel.installed == 'No'")
        //-   | 下载
