ion-modal-view#Welcome.modalBlack
  p.text-right
    button.close.color-bule.button.button-clear(on-tap='mustChoise?cancelModal():closeModal()') 关闭
  div
    button.button.button-clear(on-tap='ok()') 注册
    button.button.button-clear(on-tap='ok()') 登录
