ion-modal-view#AllowNoti.Pages
  ion-header-bar.bar
    .title.color-w {{'open_notification'|translate}}
    //- .buttons
    //-   button.color-bule.button.button-clear(ng-click='ok()') {{'complete'|translate}}
  form(name='signUpForm', novalidate="", ng-submit='commitForm(loginForm)')
    ion-content.color-w.dark
      .game-bg.screenHeight
        div.top
          img(src="img/data/soul-clash/logo.png",srcset="img/data/soul-clash/logo@2x.png 2x")
        .black.text-center
          div.icon.note
            span.i-warning.margin-0-auto
            b KEEP OPEN
            p open notification
          div.b-pink(ng-bind-html="'caution'|translate")
    .page-footer.page-padding
        .row
          .col
            button#buttonOk.a-button.button.main-button.right-arrows(ng-click='ok()')  {{'finish_open'|translate}}