ion-modal-view#RunGame.modalBlack
  p.text-right
    button.color-bule.button.button-clear(on-tap='mustChoise?cancelModal():closeModal()') 关闭
  div(ng-switch="modalStep")
    .padding.text-center(ng-switch-when="trySnapshot")
      p 如何在你的设备上截图
      p 请按下电源键和HOME键完成截图练习
      img2x(src2x='/img/iphone6',ext='png')
    .padding.text-center(ng-switch-when="task")
      p 选择任务
      p(ng-repeat='task in tasks')
        | {{task.name}}
    .padding.text-center(ng-switch-when="playGame")
      p 开始游戏
  .dots.posa
    img2x(src2x='/img/Dots',ext='png')
  .plant(ng-class="{posa:modalStep === 'trySnapshot',posb:modalStep === 'task',posc:modalStep === 'playGame'}")
    img2x(src2x='/img/Plane',ext='png')
  .progress.posa
    ul
      li(ng-class="{active:modalStep === 'playGame'}") 跳转游戏
      li(ng-class="{active:modalStep === 'task'}") 选择任务
      li(ng-class="{active:modalStep === 'trySnapshot'}") 如何截图
  .play-game(ng-switch="modalStep")
    a.button-play.l1(on-tap="next()")(ng-switch-when="trySnapshot") 继续
    a.button-play(on-tap="next()")(ng-switch-when="task")
      <small>运行</small><br>游戏
