ion-modal-view#Signup.Pages
  ion-header-bar
    .title {{'email'|translate}}
    .buttons
      button.color-bule.button.button-clear(ng-click='mustChoise?cancelModal():closeModal()') {{'cancel'|translate}}
  form(name='signUpForm', novalidate="", ng-submit='ok(signUpForm)')
    ion-content(ng-class="{'has-error': signUpForm.email.$invalid}")
      ion-list
        label.item.item-input.item-stacked-label
          span.input-label E-Mail
          input(name='email', type='email', placeholder="{{'email_placeholder'|translate}}", ng-model='formData.email', required)
      
        label.item(ng-messages='signUpForm.email.$error', ng-messages-include='templates/form-errors.html')
          p.message.form-error(ng-message='email') {{'email_form'|translate}}

      .padding
        button.button.button-block.button-positive.activated(type='submit') {{'next'|translate}}