ion-view.full-card(view-title='个人')
  ion-nav-buttons(side="right")
    a.button.icon.ion-ios-gear-outline.button-clear.color-w(href='#/tab/profile-feels')
  ion-header-bar.bar.bar-subheader.list.card.top-card
    a.item.item-avatar.item-icon-right
      img(ng-src='{{imageURI}}')
      h2 {{userData.email}}
      p
        span 发表：{{userData['@clips']['@count']}}
      p
        span 关注：{{userData['@interests']['@count']}}
  ion-content
    ion-refresher(pulling-text=' ', on-refresh='pullRefresh()')
    ng-include(src="'templates/profile-tempSrc.html'")
    ion-infinite-scroll(on-infinite="loadMore()", ng-if="hasMore", distance="10%")
    //- .list.card(ng-repeat='clip in clips')
    //-   .item.item-divider
    //-     img(src='{{clip.gameData.logo}}', style="width:20px")
    //-     | {{clip.gameData.name}} - {{clip.content}} {{subscribe.unread}}
    //-   .item.item-body
    //-     a(ng-click="Api.jumpTo(clip._self, 'profile')")
    //-       img.full-image(src="{{clip.img}}")
