ion-view(view-title='Account')
  ion-content
    ion-list
      ion-item.item-toggle
        | Enable Friends
        label.toggle
          input(type='checkbox', ng-model='settings.enableFriends')
          .track
            .handle

