ion-view.full-card(view-title='設定')
  ion-content
    ul.list
      li.item.item-toggle
        | HTML5
        label.toggle.toggle-assertive
          input(type='checkbox')
          .track
            .handle

    .padding
      button.button.button-block.button-calm.activated(ng-if="setting" on-tap="toSet()") 前往设置gamo



      //- label.item.item-input.item-stacked-label
      //-   span.input-label First Name
      //-   input(type='text', placeholder='John')
      //- label.item.item-input.item-stacked-label
      //-   span.input-label Last Name
      //-   input(type='text', placeholder='Suhr')
      //- label.item.item-input.item-stacked-label
      //-   span.input-label Email
      //-   input(type='text', placeholder='john@suhr.com')