ion-view.full-card(view-title='資料')
  ion-content
    .list
      label.item.item-input.item-stacked-label
        span.input-label First Name
        input(type='text', placeholder='John')
      label.item.item-input.item-stacked-label
        span.input-label Last Name
        input(type='text', placeholder='Suhr')
      label.item.item-input.item-stacked-label
        span.input-label Email
        input(type='text', placeholder='john@suhr.com')

    .padding
      button.button.button-block.button-positive.activated 保存

