ion-view.full-card(view-title='个人')
  ion-content
    .list.card.top-card
      a.item.item-avatar(href='#/tab/profile-feels')
        img(src='img/mcfly.jpg')
        h2 {{userData.email}}
        p Game: {{channel.gameData.name}}
    .list.card
      a.item.item-icon-left.item-icon-right(href='#/tab/profile-edit')
        i.icon.ion-ios-person
        |     编辑资料
        i.icon.ion-ios-arrow-right
      a.item.item-icon-left.item-icon-right(href='#/tab/profile-setting')
        i.icon.ion-ios-gear
        |     設定
        i.icon.ion-ios-arrow-right

    .padding
      button.button.button-block.button-positive.activated(ng-click="Auth.login()") 登出

//- ion-view(view-title='我')
//- 	ion-content
//- 		ion-list
//- 			.item.item-avatar( type='item-text-wrap', href='#/tab/channels/{{channel.gameData._id}}')
//- 				img(src='img/mcfly.jpg')
//- 				| {{channel.gameData.name}}
//- 				span.item-note(ng-class='{first:$first}')
//- 				{{userData.email}}
//- 				b <hide>上個瞬間：</hide>三個月前
//- 			.list.card(ng-repeat='clip in clips')
//- 				.item.item-divider
//- 					| [圖標] 刀塔傳奇 - {{clip.content}}
//- 				.item.item-body
//- 					a(href='#/tab/profile-chat/{{clip._id}}')
//- 						img.full-image(src="{{clip.img}}")
