ion-view.full-card(view-title='更新资料')
  ion-content
    .list
      .hide
        input(type="text" ng-model="imageURI" required ng-show="false")
      .item.item-input
        span.input-label 头像
        img#logoImage(ng-src="{{imageURI}}",on-tap="getPicture()")
      .item.item-input
        span.input-label 昵称
        input(type='text', placeholder='nickname',ng-model="formData.nickname")

    .padding
      button.button.button-block.button-positive.activated(on-tap="save(formData)") 保存
    //- button.button.button-positive.activated(ng-click="crop()") 剪切
    //- button.button.button-positive.activated(ng-click="download($event)") download
    //- //- a(href="#" ng-click="download($event)") download
    //- input(type="file" ap-file-src="canvas.src")   
    //- canvas(width="200" height="200" ap-canvas src="canvas.src" image="canvas.image" zoomable="true" frame="canvas.frame" scale="canvas.scale" offset="canvas.offset")
