ion-view.full-card(view-title='个人')
  ion-nav-buttons(side="right")
    a.button.button-clear(href='#/tab/profile-feels') 设置
  ion-content
    ion-refresher(pulling-text=' ', on-refresh='pullRefresh()')
    .list.card
      a.item.item-avatar
        img(ng-src='{{imageURI}}')
        h2 {{userData.email}}
        p
          span 发表：{{userData['@clips']['@count']}}
        p
          span 关注：{{userData['@interests']['@count']}}
    div(ng-switch="clips.length")
      div(ng-switch-default)
        ng-include(src="'templates/profile-tempSrc.html'")
      div(ng-switch-when="0")
        | 亲，你还没有发表内容，要加油哦
    ion-infinite-scroll(on-infinite="loadMore()", ng-if="hasMore", distance="10%")
    //- .list.card(ng-repeat='clip in clips')
    //-   .item.item-divider
    //-     img(src='{{clip.gameData.logo}}', style="width:20px")
    //-     | {{clip.gameData.name}} - {{clip.content}} {{subscribe.unread}}
    //-   .item.item-body
    //-     a(ng-click="Api.jumpTo(clip._self, 'profile')")
    //-       img.full-image(src="{{clip.img}}")
