ion-view.full-card(view-title='编辑')
  ion-content
    .list.card
      a.item.item-icon-left.item-icon-right(href='#/tab/profile-edit')
        i.icon.ion-ios-person
        |     编辑资料
        i.icon.ion-ios-arrow-right
      a.item.item-icon-left.item-icon-right(href='#/tab/profile-setting')
        i.icon.ion-ios-gear
        |     設定
        i.icon.ion-ios-arrow-right

    .padding
      div(ng-switch="Auth.isLoggedIn()")
        button.button.button-block.button-positive.activated(ng-switch-default="false" on-tap="Auth.login()") 登入
        button.button.button-block.button-positive.activated(ng-switch-when="true" on-tap="Auth.logout()") 登出