//
  Create tabs with an icon and label, using the tabs-positive style.
  Each tab's child <ion-nav-view> directive will have its own
  navigation history that also transitions its views in and out.
ion-tabs.tabs-icon-top.tabs-color-active-positive(ng-class="{'tabs-item-hide':hideTabs()}")
  // Dashboard Tab
  ion-tab(title='频道', icon-off='ion-ios7-photos-outline', icon-on='ion-ios7-photos', href='#/tab/channels')
    ion-nav-view(name='tab-channels')
  // Chats Tab
  ion-tab.has-badge(title='讨论', badge='badgeContent', badge-style='badge-assertive', icon-off='ion-ios7-chatboxes-outline', icon-on='ion-ios7-chatboxes', href='#/tab/chats')
    ion-nav-view(name='tab-chats')
  // Friends Tab
  ion-tab(title='发现', icon-off='ion-ios7-eye-outline', icon-on='ion-ios7-eye', href='#/tab/discover')
    ion-nav-view(name='tab-discover')
  // Account Tab
  ion-tab(title='我', icon-off='ion-ios7-person-outline', icon-on='ion-ios7-person', href='#/tab/profile')
    ion-nav-view(name='tab-profile')

