ion-tabs.tabs-icon-top.tabs-color-active-positive(ng-class="{'tabs-item-hide':hideTabs()}")
  // Dashboard Tab
  ion-tab.icon-fix(title='游戏', icon-off='g-icon-budicon-16', icon-on='g-icon-budicon-16', ng-click="Api.jumpTo(homeData().games)")
    ion-nav-view(name='tab-channels')
  // Chats Tab
  ion-tab.has-badge(title='讨论', badge='badgeContent', badge-style='badge-assertive', icon-off='g-icon-budicon-26', icon-on='g-icon-budicon-26', ng-click="Api.jumpTo(homeData().subscriptions)")
    ion-nav-view(name='tab-chats')
  // Friends Tab
  //- ion-tab(title='发现', icon-off='ion-ios7-eye-outline', icon-on='ion-ios7-eye', href='#/tab/discover')
  //-   ion-nav-view(name='tab-discover')
  // Account Tab
  ion-tab(title='个人', icon-off='g-icon-budicon-39', icon-on='g-icon-budicon-39', ng-click="Api.jumpTo(homeData().me)")
    ion-nav-view(name='tab-profile')
