/*
	color
	顏色設置
*/

$height-color:				#344b62;

/*
	app
	程式樣式設定
*/

html,body {
	font-family: 'Hiragino Sans GB' !important;
}

.bar-stable,ion-header-bar {
	background-color: $height-color !important;
	div,span,button {
		color: #fff !important;
	}
}

ion-content {
	background-color: #efefef !important;
}

.tab-nav {
	// box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, 0.2);
}

.icon-fix {
	.icon {
		font-size: 26px !important;
	}
}

.tab-item {
	.icon {
		font-size: 24px;
		line-height: 38px;
	}
	.tab-title {
		font-size: 10px;
	}
}

.back-button {
	.icon::before {
		font-size: 24px !important;
		margin-left: 8px;
	}
}

.title {
	font-weight: 800 !important;
	font-size: 17px !important;
}

.item-input {
	background-color: #fff;
}

button {
	background-color: $height-color !important;
	border-color: darken($height-color,10%) !important;
	box-shadow: none !important;
}

.button-clear {
	border: none;
}

ion-tabs.tabs-color-active-positive .tab-item.tab-item-active, ion-tabs.tabs-color-active-positive .tab-item.active, ion-tabs.tabs-color-active-positive .tab-item.activated {
	color: $height-color !important;
}

/*
	Pages
	頁面配置
*/

.messages {
	margin:0;
	padding:0;
	list-style-type:none;
}

.messages li {
	display: inline-block;
	float:left;
	clear:both;
	max-width:85%;
	margin:0 0 1.4rem 0;
	padding:0;
	.avatar {
		width: 25px;
		height: 25px;
		border-radius: 50%;
	}
	.avatar-frame {
		float: left;
		padding:.6875rem 0;
	}
	.content {
		max-width:85%;
		float: left;
		margin-top: -16px;
		h5 {
			color: #919191;
			font-size: 9px;
			line-height: 25px;
			height: 25px;
			margin: 0;
			padding: 0;
			padding: 0 1em;
			margin-bottom: -4px;
			width: 8em;
			white-space:nowrap;
			overflow: hidden;
		}
		p {
			border-radius: 0.6rem;
			background:#e6e5eb;
			color:#383641;
			padding:.6875rem;
			font-size:.875rem;
			line-height: 1.375rem;
			margin: 0 0.4rem;
			@include force-line;
		}
	}
}

.messages .m-right {
	float:right;
	text-align: right;
	.content {
		h5 {
			text-align: right;
			width: 100%;
		}
		p {
			background: $height-color;
			color:#fff;
			float: right;
		}
	}
	.avatar-frame {
		float: right;
		padding:.6875rem 0;
	}
}

.messages p img {
	display:block;
	max-width:65%;
	border-radius:.75rem;
}

#Chat {
	form {
		width: 100%;
	}
}

#Channels {
	ion-list {
		.item:first-child {
			background-color: #ebf5ff !important;
		}
	}
}

#Channels,#AddChannel{
	ion-list {
		.item {
			border-color: #d8d8d8;
			padding-left: 58px;
			font-size: 14px;
			line-height: 30px;
			min-height: 32px;
			color: #000;
			font-weight: 300;
			.item-note {
				font-size: 12px;
				font-weight: 800;
				text-align: right;
				color: #646464;
				b {
					margin-left: 0.4em;
					color: #0975d9;
				}
				hide {
						opacity: 0;
				}
			}
			.first {
				hide {
					opacity: 1 !important;
				}
			}
		}
		img {
			border-radius: 7px;
			height: 30px;
			width: 30px;
			box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.24);
		}
	}
}

#Chats {
	ion-list {
		.icon {
			margin-right: 0.2em;
		}
		.item {
			border-color: #d8d8d8;
			font-size: 12px;
			line-height: 16px;
			color: #000;
			font-weight: 300;
			color: #666;
			height: 60px;
			padding: 14px;
			padding-left: 58px;
			overflow: hidden;
			img {
				border-radius: 7px;
				height: 30px;
				width: 30px;
				box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.24);
			}
			.item-note {
				position: absolute;
				top: 0;
				right: 0;
				img {
					height: auto;
					width: 70px;
    				clip: rect(0px, 70px, 70px, 0px);
					box-shadow: none;
					border-radius: 0;
				}
			}
		}
	}
}

#Chat {
	.chat-images {
		img {
			width: 100%;
		}
	}
}

#channel,.full-card {
	.card {
		margin: 10px 0 !important;
	}
	.top-card {
		margin-top: -10px !important;
		.item {
			h1,h2,h3,h4,h5,p,span {
				color: #fff !important;
			}
			background-color: $height-color !important;
			border-radius: 0;
		}
		border-radius: 0;
	}
	.item {
		color: #555;
	}
	.item-body {

	}
	.full-image {

	}
}

#Newclip {
	#newPostImage {
		width: 80px;
	}
}
