/*
	color
	顏色設置
*/

$height-color:				#14283c;

/*
	app
	程式樣式設定
*/

html,body {
	font-family: 'Hiragino Sans GB' !important;
}

.bar-stable,ion-header-bar {
	background-color: $height-color !important;
	div,span,button {
		color: #fff !important;
	}
}

ion-content {
	background-color: #efefef !important;
}

.tab-nav {
	// box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, 0.2);
}

.tab-item {
	.icon {
		font-size: 24px;
		line-height: 38px;
	}
	.tab-title {
		font-size: 10px;
	}
}

.back-button {
	.icon::before {
		font-size: 24px !important;
		margin-left: 8px;
	}
}

.title {
	font-weight: 800 !important;
	font-size: 17px !important;
}

.item-input {
	background-color: #fff;
}

button {
	background-color: $height-color !important;
	border-color: darken($height-color,10%) !important;
	box-shadow: none !important;
}

.button-clear {
	border: none;
}

ion-tabs.tabs-color-active-positive .tab-item.tab-item-active, ion-tabs.tabs-color-active-positive .tab-item.active, ion-tabs.tabs-color-active-positive .tab-item.activated {
	color: $height-color !important;
}

/*
	Pages
	頁面配置
*/

.messages {
	margin:0;
	padding:0;
	list-style-type:none;
}

.messages li {
	display:block;
	float:left;
	clear:both;
	max-width:65%;
	margin:0 0 1rem 0;
	padding:0;
}

.messages li:nth-child(even) {
	float:right;
}

.messages li:nth-child(even) img {
	float:right;
}

.messages p {
	border-radius:.75rem;
	background:#e6e5eb;
	color:#383641;
	padding:.6875rem;
	margin:0;
	font-size:.875rem;
}

.messages li:nth-child(even) p {
	background:#158ffe;
	color:#fff;
}

.messages img {
	display:block;
	max-width:65%;
	border-radius:.75rem;
}

#Channels {
	ion-list {
		.item:first-child {
			background-color: #ebf5ff !important;
		}
	}
}

#Channels{
	ion-list {
		.item {
			border-color: #d8d8d8;
			padding-left: 58px;
			font-size: 14px;
			line-height: 30px;
			min-height: 32px;
			color: #000;
			font-weight: 300;
			.item-note {
				font-size: 12px;
				font-weight: 800;
				text-align: right;
				color: #646464;
				b {
					margin-left: 0.4em;
					color: #0975d9;
				}
				hide {
						opacity: 0;
				}
			}
			.first {
				hide {
					opacity: 1 !important;
				}
			}
		}
		img {
			border-radius: 7px;
			height: 30px;
			width: 30px;
			box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.24);
		}
	}
}

#Chats {
	ion-list {
		.icon {
			margin-right: 0.2em;
		}
		.item {
			border-color: #d8d8d8;
			font-size: 12px;
			line-height: 16px;
			color: #000;
			font-weight: 300;
			color: #666;
			height: 60px;
			padding: 14px;
			padding-left: 58px;
			overflow: hidden;
			img {
				border-radius: 7px;
				height: 30px;
				width: 30px;
				box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.24);
			}
			.item-note {
				font-size: 12px;
				line-height: 30px;
				height: 30px;
				img {
					position: absolute;
					top: 0;
					right: 0;
					height: 70px;
					width: 70px;
					// clip: rect(0,60px,60px,0);
					box-shadow: none;
					border-radius: 0;
				}
			}
		}
	}
}

#Chat {
	.chat-images {
		img {
			width: 100%;
		}
	}
}

#channel,.full-card {
	.card {
		margin: 10px 0 !important;
	}
	.top-card {
		margin-top: -10px !important;
		.item {
			h1,h2,h3,h4,h5,p,span {
				color: #fff !important;
			}
			background-color: $height-color !important;
			border-radius: 0;
		}
		border-radius: 0;
	}
	.item {
		color: #555;
	}
	.item-body {

	}
	.full-image {

	}
}

#Newclip {
	#newPostImage {
		width: 80px;
	}
}
