/*
	color
	顏色設置
*/

$height-color:				#4dc3ff;

/*
	app
	程式樣式設定
*/

.bar-stable,ion-header-bar {
	background-color: $height-color !important;
	div,span,button {
		color: #fff !important;
	}
}

ion-content {
	background-color: #efefef !important;
	font-family: '';
}

.tab-nav {
	// box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, 0.2);
}

ion-tabs.tabs-color-active-positive .tab-item.tab-item-active, ion-tabs.tabs-color-active-positive .tab-item.active, ion-tabs.tabs-color-active-positive .tab-item.activated {
	color: $height-color !important;
}

/*
	Pages
	頁面配置
*/

.messages {
	margin:0;
	padding:0;
	list-style-type:none;
}

.messages li {
	display:block;
	float:left;
	clear:both;
	max-width:65%;
	margin:0 0 1rem 0;
	padding:0;
}

.messages li:nth-child(even) {
	float:right;
}

.messages li:nth-child(even) img {
	float:right;
}

.messages p {
	border-radius:.75rem;
	background:#e6e5eb;
	color:#383641;
	padding:.6875rem;
	margin:0;
	font-size:.875rem;
}

.messages li:nth-child(even) p {
	background:#158ffe;
	color:#fff;
}

.messages img {
	display:block;
	max-width:65%;
	border-radius:.75rem;
}

#Channels {
	ion-list {
		.item:first-child {
			background-color: #ebf5ff !important;
		}
		.item {
			border-color: #d8d8d8;
			padding-left: 58px;
			font-size: 14px;
			line-height: 30px;
			min-height: 32px;
			color: #000;
			font-weight: 300;
			.item-note {
				font-weight: 800;
				color: #0975d9;
				font-size: 12px;
				text-align: right;
				line-height: 14px;
				b {
					font-size: 8px !important;
					color: #646464;
				}
				hide {
						opacity: 0;
				}
			}
			.first {
				hide {
					opacity: 1 !important;
				}
			}
		}
		img {
			border-radius: 7px;
			height: 30px;
			width: 30px;
			box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.24);
		}
	}
}

#channel {
	.card {
		margin: 10px 0 !important;
	}
	.item {

	}
	.item-body {

	}
	.full-image {

	}
}

#Chats {
	.card {
		box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.24);
		border-radius: 3px;
		max-height: 250px;
		// overflow: hidden;
		position: relative;
	}
	.item-body {
		padding: 0;
	}
	.item-avatar {
		position: absolute;
		bottom: 0;
		width: 100%;
		background: none;
		background-color: rgba(255,255,255,0.94);
	}
}

#Newclip {
	#newPostImage {
		width: 80px;
	}
}