@charset "UTF-8";

@font-face {
  font-family: "gamo-app";
  src:url("fonts/gamo-app.eot");
  src:url("fonts/gamo-app.eot?#iefix") format("embedded-opentype"),
    url("fonts/gamo-app.woff") format("woff"),
    url("fonts/gamo-app.ttf") format("truetype"),
    url("fonts/gamo-app.svg#gamo-app") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "gamo-app" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="g-icon-"]:before,
[class*=" g-icon-"]:before {
  font-family: "gamo-app" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.g-icon-budicon:before {
  content: "a";
}
.g-icon-budicon-1:before {
  content: "b";
}
.g-icon-budicon-2:before {
  content: "c";
}
.g-icon-budicon-3:before {
  content: "d";
}
.g-icon-budicon-4:before {
  content: "e";
}
.g-icon-budicon-5:before {
  content: "f";
}
.g-icon-budicon-6:before {
  content: "g";
}
.g-icon-budicon-7:before {
  content: "h";
}
.g-icon-budicon-8:before {
  content: "i";
}
.g-icon-budicon-9:before {
  content: "j";
}
.g-icon-budicon-10:before {
  content: "k";
}
.g-icon-budicon-11:before {
  content: "l";
}
.g-icon-budicon-12:before {
  content: "m";
}
.g-icon-budicon-13:before {
  content: "n";
}
.g-icon-budicon-14:before {
  content: "o";
}
.g-icon-budicon-15:before {
  content: "p";
}
.g-icon-budicon-16:before {
  content: "q";
}
.g-icon-budicon-17:before {
  content: "r";
}
.g-icon-budicon-18:before {
  content: "s";
}
.g-icon-budicon-24:before {
  content: "y";
}
.g-icon-budicon-25:before {
  content: "z";
}
.g-icon-budicon-26:before {
  content: "A";
}
.g-icon-budicon-27:before {
  content: "B";
}
.g-icon-budicon-28:before {
  content: "C";
}
.g-icon-budicon-65:before {
  content: "$";
}
.g-icon-budicon-69:before {
  content: "(";
}
.g-icon-budicon-70:before {
  content: ")";
}
.g-icon-budicon-77:before {
  content: ":";
}
.g-icon-budicon-78:before {
  content: ";";
}
.g-icon-budicon-79:before {
  content: "<";
}
.g-icon-budicon-80:before {
  content: "=";
}
.g-icon-budicon-81:before {
  content: ">";
}
.g-icon-budicon-82:before {
  content: "?";
}
.g-icon-budicon-83:before {
  content: "@";
}
.g-icon-budicon-84:before {
  content: "[";
}
.g-icon-budicon-85:before {
  content: "]";
}
.g-icon-budicon-86:before {
  content: "^";
}
.g-icon-budicon-87:before {
  content: "_";
}
.g-icon-budicon-96:before {
  content: "\e002";
}
.g-icon-budicon-97:before {
  content: "\e003";
}
.g-icon-budicon-98:before {
  content: "\e004";
}
.g-icon-budicon-99:before {
  content: "\e005";
}
.g-icon-budicon-100:before {
  content: "\e006";
}
.g-icon-budicon-101:before {
  content: "\e007";
}
.g-icon-budicon-102:before {
  content: "\e008";
}
.g-icon-budicon-103:before {
  content: "\e009";
}
.g-icon-budicon-104:before {
  content: "\e00a";
}
.g-icon-budicon-105:before {
  content: "\e00b";
}
.g-icon-budicon-106:before {
  content: "\e00c";
}
.g-icon-budicon-107:before {
  content: "\e00d";
}
.g-icon-budicon-108:before {
  content: "\e00e";
}
.g-icon-budicon-109:before {
  content: "\e00f";
}
.g-icon-budicon-110:before {
  content: "\e010";
}
.g-icon-budicon-111:before {
  content: "\e011";
}
.g-icon-budicon-112:before {
  content: "\e012";
}
.g-icon-budicon-113:before {
  content: "\e013";
}
.g-icon-budicon-114:before {
  content: "\e014";
}
.g-icon-budicon-115:before {
  content: "\e015";
}
.g-icon-budicon-116:before {
  content: "\e016";
}
.g-icon-budicon-117:before {
  content: "\e017";
}
.g-icon-budicon-120:before {
  content: "\e01a";
}
.g-icon-budicon-121:before {
  content: "\e01b";
}
.g-icon-budicon-122:before {
  content: "\e01c";
}
.g-icon-budicon-123:before {
  content: "\e01d";
}
.g-icon-budicon-124:before {
  content: "\e01e";
}
.g-icon-budicon-125:before {
  content: "\e01f";
}
.g-icon-budicon-126:before {
  content: "\e020";
}
.g-icon-gift:before {
  content: "\e021";
}
.g-icon-present-gift:before {
  content: "\e022";
}
.g-icon-budicon-127:before {
  content: "\e023";
}
.g-icon-budicon-128:before {
  content: "\e024";
}
.g-icon-budicon-129:before {
  content: "\e025";
}
.g-icon-budicon-131:before {
  content: "\e027";
}
.g-icon-budicon-133:before {
  content: "\e029";
}
.g-icon-budicon-38:before {
  content: "M";
}
.g-icon-budicon-29:before {
  content: "D";
}
.g-icon-budicon-30:before {
  content: "E";
}
.g-icon-budicon-31:before {
  content: "F";
}
.g-icon-budicon-33:before {
  content: "H";
}
.g-icon-budicon-32:before {
  content: "G";
}
.g-icon-budicon-34:before {
  content: "I";
}
.g-icon-budicon-35:before {
  content: "J";
}
.g-icon-budicon-36:before {
  content: "K";
}
.g-icon-budicon-37:before {
  content: "L";
}
.g-icon-budicon-39:before {
  content: "N";
}
.g-icon-budicon-40:before {
  content: "O";
}
.g-icon-budicon-19:before {
  content: "t";
}
.g-icon-budicon-20:before {
  content: "u";
}
